.comment-reply-wrapper{
    width: 100%;
    display:flex;
    margin-top:10px;
    margin-left: 30px;
}
.comment-reply-input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 300px;
}

.view-reply,.comment-options-dots{
    font-weight: bold;
    cursor: pointer;
}
.comment-username, .commentReplies-username{
    color: darkslategray;
}
.comment-username:hover{
    color: lightblue;
}
.post-comment-input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height:35px;
}
.post-comment-input::placeholder{
    color: darkslategrey;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.comment-space{
    width:100%;
}

.comments-div, .likes{
    /*position: relative;*/
    /*top: 5px;*/
}

.comment-like-num{
    position: relative;
    bottom: 1px;
    cursor: pointer;
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.post-comment-prev{
    opacity:0.7
}
.post-comment-prev .the-comm-prev{
    color: darkslategrey;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.first-comment{
    color: darkslategrey;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 1025px){
    .comment-reply-input{
        width: 100%;
    }
}