/* The Modal (background) */
.liker-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: auto;
}

/* Modal Content */
.liker-modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top:5%;
    padding: 0;
    border: 1px solid #888;
    width: 31%;
    overflow:auto;
    /*height:00px;*/
    min-height: 200px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.liker-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.liker-close:hover,
.liker-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.liker-modal-header{
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}
.liker-modal-body{
    padding: 5px 16px;
}
/*.aboutPet-header{*/
/*    padding: 4px 16px;*/
/*    background-color: darkslategrey;*/
/*    color: white;*/
/*}*/

.liker-modal-body ul{
    list-style:none;
}

@media screen and (max-width:501px){
    .liker-modal-content{
        margin-top:20%;
        min-width: 90vw;
        max-height:65vh;
        overflow:auto;
    }
}