
.fa-heart ,.fa-comments{
    padding: 5px;
    cursor: pointer;
}

#post-comment{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#post-comment textarea{
    font-family: Cambria;
}

#post{
    width: 100%;
}
.post-footer{
    background-color: white;
}

