#post-preview{
    opacity: 0.9;
}
#post-card-preview{
    font-family: "Bookman Old Style";
    font-size: 15px;
    font-weight: bolder;
    color:darkslategrey
}
.remove-pic, .close-preview{
    cursor: pointer;
}