#submitPost ,.selectPet, .post-by-pic{
    cursor: pointer;
}
.selectPet{
text-decoration: underline;
}

/* The Modal (background) */
.selectPetModal, .addPetModal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.selectPet-content {/*removed ,.addPet-content */
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.selectPet-header,.addPet-header {
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}

.selectPet-body, .addPet-body {padding: 2px 16px;}
.pet-select{
    cursor: pointer;
}

@media screen and (max-width:501px){
    .selectPet-content{
        width: 100%;
    }
    .selectPetModal{
        padding-top: 40%;

    }
}
