.post-header{
    padding: 10px;
    background-color: white;
}
.post-header, .post-body,.post-footer{
    border: none;
}
.post-footer {
    border-bottom: 1px;
}

.username{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.caption{
    font-family: "Bookman Old Style";
    font-size:15px;
}
/*.post-photo-wrapper{*/
/*    display: block;*/
/*}*/
.post-photo{
    width: 100%;
}
.comment-icon img, #like .fa-heart , .comment-submit{
    cursor: pointer;
}

#comment-wrapper{
    padding:10px;
}
.comment-container{
    background-color: #fafafc;
}
.comments{
    background-color: #fafafc;
    border:none;
}
.post-comment{
    position:absolute;
    top: 4%;
    left: 91%;
}

.comment-header,.comment-body, .comment-footer{
    border: none;
    background-color: #fafafc;
}
.comment-body,.comment-reply{
    font-family:cambria;
    color:#4f5457;
    font-size:16px;
}
.comment-reply,.comment-like {
    cursor: pointer;
}
.comment-footer{
    border-bottom: 1px solid #b9bbbe;
}
.likeIcon, .comment-icon{
    font-size: 23px;
    cursor:pointer;
}
.liked{
    color: darkred;
    font-size: 23px
}
.reply-liked{
    color: darkred;
}
.likers,.total-comm{
    position: relative;
    bottom:2px;
    cursor: pointer;
}
.likers-wrapper{
    /*display: none;*/
    position: absolute;
    left: 50%;
    top:  50%;
    min-width: 10%;
    background: blue;
    /*transform: translate(-50%, -50%);*/
}
.postBy{
    font-family: cursive;
    color: darkslateblue;
}
.postBy .pet-link{
    color: #4c110f;
    font-weight:bolder;
    font-family: Georgia;
}

.post-options, .comment-icon{
    cursor: pointer;
}
.post-option-tab{

}
.post-option-drop{
    list-style: none;
    position: absolute;
    right: 6%;
     z-index : 1;
    box-shadow: 1px 1px lightgray;
}
.post-option-drop li{
    padding: 3px 6px;
    color: darkslategrey;
    cursor: pointer;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post-option-drop li:hover{
    color: #f3bb6f;
}
.post-time{
    position: relative;
    bottom:11px;
    left:10px;
}


.post-info-icon {
    cursor: pointer;
    color:darkslategray;
}

.posts-tooltip{
    position:relative;
    bottom:2px;
    background-color:darkslategray;
    padding: 7px;
}
.posts-tooltip-text{
    color:white;
    font-size: 13px;
    font-family: Cambria;
}

.posts-tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent darkslategray transparent transparent;
}


/*html {*/
/*    overflow: auto !important;*/
/*}


/*.postLikers{*/
/*    position: fixed;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 9999;*/
/*    background: url(/public/img/pet.png)*/
/*    50% 50% no-repeat rgba(0,0,0,0.7);*/
/*}*/
