/** {box-sizing: border-box}*/
/*body {font-family: Verdana, sans-serif; margin:0}*/
/*.mySlides {display: none}*/
/*img {vertical-align: middle;}*/
.post-photo{
    max-height: 500px;
}
.video{
    width: 100%;
}
    /* Slideshow container */
.slideShowContainer {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    border-radius:50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 6px;
    margin:2px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    /*border-radius: 0 3px 3px 0;*/
    user-select: none;
    background-color: rgba(228, 232, 240,0.5);
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

/* Number text (1/3 etc) */
.numbertext ,.listing-type-overlay{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.listing-views{
    position: absolute;
    /*padding: 8px 12px;*/
    left:180px;
}
.listing-type-overlay{
    font-size: 15px;
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    /*background-color: #717171;*/
}

/* Fading animation */
.fadeEffect {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
