.caption{
    resize: none;
}
.postControl{
    padding:10px;
    position: absolute;
    top:57%;
    min-width:95%;
    z-index: 1;
}
.post-up-picture{
    position: relative;
    bottom:32px;
    margin-right : 10px
}
