/*@media screen and (min-width:501px){*/


    .chat{display:flex}

    .user_info p{
        display: block;
        width: 130px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .chat__btn {
        cursor: pointer;
        padding: 12px;
        background: #7C5CBF;
        border: none;
        color: white;
        font-size: 16px;
        transition: background .3s ease;
    }

    .chat__btn:hover {
        background: #6b47b8;
    }

    .chat__btn:disabled {
        cursor: default;
        background: #7c5cbf94;
    }

    /*Chat styles*/

    .chat__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .chat__messages {
        flex-grow: 1;
        padding: 24px 24px 0 24px;
        /*overflow-y: scroll;*/
    }

    .messages {
        overflow: auto;
        flex: auto;
        height: 90vh;
    }

    .compose {
        display: flex;
        flex-shrink: 0;
        margin-top: 16px;
        padding: 24px;
    }

    .compose #message-form {
        display: flex;
        flex-grow: 1;
        margin-right: 16px;
    }

    .compose .message_input {
        border: 2px solid darkslategray;
        width: 100%;
        padding: 12px;
        margin: 0 16px 0 0;
        flex-grow: 1;
    }

    .message_input, .messageText{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .compose .chat__btn {
        font-size: 14px;
    }

    /* Chat Sidebar Styles */
    .chat__sidebar{
        height:100vh;
        color:#fff;
        background:#333744;
        min-width:200px ;
        width:17%;
        overflow-y:auto;
        border: 1px solid;
        box-shadow:3px 4px darkslategrey;
    }

    .contact_name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size:17px;
    color: white;
}
.img_cont{
    position: relative;
    top: 6px;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info p{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*color: rgba(39, 43, 43,0.6);*/
    color:yellow;
}
.chat-list-container{
    overflow: auto;
    /*border-right: 2px solid #8d9e9e;*/
}
.chat-list-item{
    cursor:pointer;
}
.chat-list{
    list-style: none;
    padding: 0;
}
.chat-list li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.chat-comp{

}
.sm-chat{
    display: none;
}
/*}*/
@media screen and (max-width:501px){
    .sm-chat{
        display: block;
        margin-top: 85px;
    }
    .lg-chat{
        display:none;
    }
    .chat-list{
        list-style: none;
        padding: 0;
    }

    .chat-list li{
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 5px !important;
    }
    .img_cont{
        position: relative;
        top: 6px;
    }
    .user_info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
    .contact_name{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        font-size:17px;
        color: darkslategray;
    }
    .user_info p{
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: darkslategrey;
    }
    .messages {
        overflow: auto;
        flex: auto;
        height: 70vh;
    }
}
    /*CHAT PAGE*/
/*
    .chat__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .chat__messages {
        flex-grow: 1;
        padding: 20px 20px 0 20px;
        overflow-y: auto;
    }

    .compose {
        display: flex;
        flex-shrink: 0;
        margin-top: 16px;
        padding: 24px;
    }
    .compose #message-form {
        display: flex;
        flex-grow: 1;
        margin-right: 16px;
    }
    .compose .message_input {
        border: 1px solid #eeeeee;
        width: 100%;
        padding: 12px;
        margin: 0 16px 0 0;
        flex-grow: 1;
    }
    .message_input {
        border: 1px solid #eeeeee;
        width: 100%;
        padding: 12px;
        margin: 0 16px 0 0;
        flex-grow: 1;
    }
    */
