
.sender-photo{
    position: relative;
    top: 13px;
}

.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 2px 12px;
    color: white;
    display: inline-block;
    max-width: 80%;
    margin:5px;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.colorWhite {
    color: white;
}

.colorDark {
    color: white;
}

.backgroundBlue {
    background: darkslategray;
}

.backgroundLight {
    background: #333744;
}
