
.friends{
    /*cursor:pointer;*/
    text-decoration : none;

}
.friends-wrapper{
    padding: 2px 16px;
}
.friends-wrapper ul{
    list-style: none;
    text-decoration : none;
    padding: 10px 16px;
}

.friend-item{
    text-decoration : none;
    padding: 10px 16px;
    font-family : cambria;
    font-size: 17px;
}