.filter-wrapper{
    width: 100%;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.listing-filter{
    width: 70%;
    border: 2px solid darkslategrey;
    /*max-height: 65px;*/
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    align-items:center;
    margin-top: 5px;
}
@media screen and (max-width:501px){
    .listing-filter{
        width: 100%;
    }
    .listing-coins{
      display:none
    }
    .listing-types{
        width:100%;
        text-align: center;
    }
    .filter-sm{
        width: 100%;
        padding:2px;
        text-align: center;
    }
}
.listing-location, .listing-pet-types{
    /*border-right: 2px solid darkslategray;*/
    margin-right:35px;
    margin-left:35px;
}
.listing-d label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.listing-d input{
    width: 40px;
}
.listing-coins{
    float: left;
    padding:10px;
    /*border: 2px solid darkslategrey;*/
}


.usn-views{
    width: 100%;
}
.list-pet-usn{
    float:left;
    width:70%;
    padding:1px;
}
.list-pet-views{
    float:left;
    width:30%;
    padding:1px;
    font-weight: bold;
    font-size: 14px;
}
.listing-links{
    cursor: pointer;
    color:darkslategrey;
    font-family: Cambria;
    font-size: 22px;
    margin-bottom: 5px;
}

.listings-active, .my-listings-active{
    color: white;
    background-color: darkslategrey
}


.listing-wrapper{
    margin-top: 100px;
}
.listing_tabs{
    cursor: pointer;
    margin-bottom:20px
}
.loader{
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.submit-listing{
    background-color:darkslategrey;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-weight: bold;
}
.listing-phase{
    width:100%;
    height:100%;
    padding:10px 22px;
}
.whole-listing{
    /*width: 30%;*/
    max-height: 300px;
}
.listing-card{
    background-color: white;
    width: 100%;
}
.listing-image-container{
    /*width: 326px;*/
}
.listing-image{
    display: flex;
    justify-content: center;
}

.listing-desc{
    width:100%;
    background-color: white;
}
.listing-pet-image{
    width: 100%;
    max-height: 450px;
}
.listed-pet-name{
    color:darkslategrey;
    cursor: pointer;
    /*display:block;*/
    font-weight: bolder;
    /*text-align: center*/
}
.list-type{
    display:block;
    text-align: center
}
.listing-pet-username{
    color: white;
    font-family: Cambria;
}
.listings_main{
    height: 100%;
}
.listing-note-display, .lis-info{
    width: 40%;
    word-wrap: break-word;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#4c110f;
}
.listing-note-header,.listing-type-header,.listing-pet-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.listing-note{
   width: 100%;
    transition: height 2s;
    height: 100%;
    background-color: black;
    opacity:0.9;
    z-index:10;
    position:absolute;
    color:#00E56B;
}
.listing-note span,.listing-note p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}
.listing-note span .list-info,.listing-note p .list-info{
    color: #cb9639;
    font-weight: bold;
}
.listing-info-input{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    resize:none;
    border: 2px solid darkslategray;
}
.listing-restart{
    background-color: grey;
    width: 120px;
    padding: 5px;
    color: yellow;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.listing-restart:hover{
    color:white
}
.submit-listing{
    background-color: white;
    width: 180px;
    padding: 5px;
    color: darkslategray;
    /*border: 2px solid darkslategray;*/
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.submit-listing:hover{
    background-color:lightgrey
}
.add-coins-link{
    cursor:pointer;
    background-color:black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 4px;
    font-size:15px;
    position:relative;
    top:10px;
    width:80px;
    text-align:center;
}

/* Listing Modal */


.list-pet-modal{
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.listPet-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 65%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.listPet-header {
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}
.listPet-body {padding: 2px 16px;}

@media screen and (max-width:1025px){
    .list-pet-modal{
        padding-top: 18%;
        overflow: scroll;
    }

    .listPet-content{
        overflow: scroll;
        font-size:15px;
        width: 90%;
        height: 90%;
    }

}

/* Modal Contents */
.no-pets-wrap{
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.no-pets-listing{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.list-type-select{
    width: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mating-instruction,.sale-instruction{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mate-breed-input,.sale-input{
    margin-top:5px;
    outline:none;
    border-bottom:2px solid darkslategrey
}

/*
.payment-options{
    position: absolute;
    top:90px;
    right:33px;
    width: 300px;
    height: 200px;
    z-index: 999;
    padding: 12px 24px;
    opacity:0.8;
    background-color: #1d2124;
}*/