.scams-modal{
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 7%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.scams-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 73%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.scams-header {
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}
.scams-body {padding: 2px 16px;}
.scam-note{
    font-family: Arial;
    padding:15px ;
}
@media screen and (max-width:1024px){
    .scams-modal{
        padding-top: 19%;
    }
    .scams-content {
        width: 95%;
        height: 90%;
    }
}