#add-post-wrapper{
    padding: 35px;
    max-width: 350px;
    min-height: 300px;
    max-height: 300px;
    margin-left: 400px;
    justify-content: center;
}
.main, .left-pane, .right-pane{
    margin-top : 10px;
}
.left-pane {
    float:left;
    width:30%;
    padding:1px;
}
.home-left-pane{
    background-color: white;
    height: 100vh;
}
.pets-suggestion,.users-suggestion,.did-you-know{
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 2px solid darkslategrey;

}
.did-you-know{
}
.suggestions{
    width: 100%;
    /*border: 1px solid #b9bbbe;*/
    margin: 5px;
    font-family: cambria;
    font-size : 16px;
}
.suggestion-intro{
    font-family: Cambria;
    font-size: 13px;
    font-weight: bold;
}
.suggestions:hover{
    /*background-color: darkslategrey;
      color:white;*/
}
.suggestions img{
    cursor: pointer;
    font-size: 20px;
    color: darkslategrey
}

.below-nav{
    margin-top:10vh;
}
.main {
    float:left;
    width:60%;
    padding:0 20px;
}
/*.right-pane {*/
/*    background-color:#e5e5e5;*/
/*    float:left;*/
/*    width:20%;*/
/*    margin-top:7px;*/
/*    text-align:center;*/
/*}*/
@media only screen and (min-width:920px){
}
@media only screen and (max-width: 620px){
    .left-pane, .right-pane, .main{
        width: 100%;
    }
}
