.add-pet-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.addPet-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.add-pet-question-wrapper,.add-pet-questionInput-box{
    margin-bottom:40px;
}
.pet-reg-questions{
    text-align : center;
}
.reg-title{
    font-size: 15px;
}
.pet-reg-display{
    text-align : center;
    border-left: 2px solid darkslategray;
}
.pet-reg-display h5, .pet-reg-questions h5{
    font-family: cambria;
    font-size : 17px;
    border-bottom : 2px solid darkslategray
}
.reg-answer{
 color:#761b18;
 font-family: Cambria;
 font-weight: bold;
}
.sm-reg-details{
    display: none;
}

.next-btn-profile{
    /*background-color: #b9bbbe;
    border: 2px solid darkslategray;
    padding : 5px 10px;
    color: darkslategrey;*/
}
.submit-pet-btn-profile{

}
@media screen and (max-width:501px){
    .add-pet-modal{
        padding-top: 30%;
    }
    .addPet-content{
        width: 100%;
        height:98%
    }
    .sm-reg-details{
        display: block;
    }
    .lg-reg-details{
        display: none;
    }

}