@media screen and (max-width:501px){
    .lg-profile-intro{
        display: none;
    }
    .page-info{
        min-height: 10vh;
        background-color: white;
        margin-top: 70px;
    }
    .user-image-holder, .user-name-holder{
        text-align:center
    }
}
@media screen and (min-width:501px){
    .profile-sm-component{
        display: none;
    }
    .sm-profile-tab{
        display: none;
    }
    .page-info{
        min-height: 20vh;
        background-color: white;
        margin-top: 70px;
    }
}