
.pet-profile-pic{
    display: inline-block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.pet-name-profile{
    font-size: 22px;
    font-family: Cambria;
    font-weight: bold;
    color:darkslategrey;
}

.pet-username-profile{
    font-size:18px;
}
.user-username-profile{
    font-size:15px;
}


.about-pet, .pet-posts{
    /*background-color: white;*/
    padding: 5px 10px;
}

.breed-component,.admirer-component{
    width: 100%;
    background-color: white;
    min-height: 30vh;
}

.profile-pills{
    cursor: pointer;
}
.intro-text, .bio-intro,.hobby-intro{
    font-family: Cambria;
}
.pet-bio, .pet-hobby{
    font-family: Cambria;
    color: #686868;
}
.pet-hobby{
    font-size :15px;
}
.intro-text{
    font-size :18px;
}
.write-bio, .write-hobby{
    color : #1d68a7;
    text-decoration: underline #1d68a7;
    cursor: pointer;
}

.post-footer{
    background-color: white;
}

.learn-about{
    cursor: pointer;
}

.learn-about-modal{
    z-index: 2;
    background-color: #2a9055;
}

.hobby-list{
    list-style-type: square;
}
.hobby-input, .city-input{
    position:relative;
    width:100%;
    font-family: Cambria;
    font-size: 15px;
}

.change-pet-pic, .remove-pet-pic{
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.edit-pet-input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #74373d;
}


/* EDIT PET STYLING */
.transfer-pet-link{
    cursor: pointer;
    font-family: Cambria;
    color: darkslategray;
    font-size : 20px;
    text-decoration: underline;
    font-weight : bolder;
}
.manage-pet-modal{
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.managePet-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 96%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.managePet-header {
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}
.managePet-body {padding: 2px 16px;}

.tab-text{
    font-family: Cambria;
    color: darkslategray;
}
.pet-profile-breed, .pet-profile-breed,.pet-profile-bd,.pet-profile-gender, .pet-profile-time{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:14px;
    color:#4f5457;
}
@media screen and (max-width:501px){
    .manage-pet-modal{
        margin-top: 11%;
        overflow: scroll;
    }
    .change-pet-pic, .remove-pet-pic,.input-group-text{
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .managePet-content{
        overflow: scroll;
        font-size:15px;
        width: 100%;
        height: 100%;
    }

}

