body{
    /*background-color: #f1f1f1;*/
}
@media screen and (max-width:501px){

}
.profile{
    background-color: #b9bbbe;
}
.profile-pic{
    cursor: pointer;
}
.user-page-info{
    min-height: 20vh;
    background-color: white;
    margin-top: 70px;
}
.user-image-holder{
    position: relative;
    /*top:10px*/
}
.user-page-panel{
    background-color: white;
    text-align : center;
    color:#4e555b;
}
.persona{
    height:100%
}
a{
    text-decoration: none;
}

.image {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.admiredPets{
    cursor: pointer;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 41%;
    bottom:25%;
    text-align: center;
}

.image-wrapper:hover .image {
    opacity: 0.3;
}

.image-wrapper:hover .middle {
    opacity: 1;
}

.text {
    background-color: #1b4b72;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
}
.pet-panel{
    width: 100%;
    border-top: 1px solid darkslategrey;
}
.pets{
    background-color: white;
}


.scroll-container{
    white-space: nowrap;
    overflow: auto;
}
.scroll-container .item{
    display: inline-block;
    text-align: center;
    padding: 14px;
}

.add-pet{
    background-color:darkslategray ;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-family: Cambria;
    position:relative;
    bottom:50px
}

.add-pet-lone{
    background-color:darkslategray ;
    height: 90px;
    width: 90px;
    /*color: white;*/
    border-radius: 50%;
    border:1px solid grey;
    /*box-shadow:2px 4px skyblue;*/
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.manage-pets-icon-wrap{
    width: 100%;
    text-align: right;
    padding:10px
}
.manage-pets-icon-wrap i{
    font-size: 20px;
    color: darkslategray;
}

#add-city, #add-bio {
    cursor: pointer;
    font-family:Cambria;
    font-size:15px;
}


.pet-image{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pet-name{
    margin-top:7px;
    font-weight: bold;
    color: darkslategray;
}
.modal-toggle{
    cursor: pointer;
}
.addBtn{
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 20vw;
    border-radius: 10px;
    font-weight: bold;
}

.addPet-modalBody{
    padding: 70px;
}
.add-pet-modal-wrapper{
    height: 500px;
}
.lp-section-one{
    background-color: white;
    padding: 2px;
}
.profile-intro{
    font-size:16px;
}
.user-bio, .user-location, .user-name,.profile-intro{
    font-size:15px;
    font-family: "Cambria";
    color: darkslategray;
    font-weight: bold;
}
.toggle-loc{
    cursor: pointer;
    color: #d36b0c;
}
.user-icon, .bio-icon, .city-icon,.hobby-intro,.profile-intro{
    color: #464c4f;
}
.user-bio-wrapper{
    background-color: white;
    width: 100%;
}

.edit-bio{
    position: relative;
    left: 100%;
    cursor: pointer;
    color: darkslategray;
    display: block;
    transition-duration: 2s;
}
#editBioInput,#editCityInput,.bio-input,.city-input{
    width:100%;
    font-family:cambria;
    resize: none;
}
.bio-edit-submit{
    background-color: darkslategray;
    color:white;
}
.bio-edit-cancel{
    background-color: darkred;
    color:white;
}
.bio-edit-submit:hover,.bio-edit-cancel:hover{
    color: white;
}

.shake-pets{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
