.question-control,.pet-question-wrapper,.questionInput-box{
    text-align: center;
}
.pet-question-wrapper{
    padding: 8px;
}
.pet-question{
    color: darkslategray;
    font-size:1.5rem;
}
.questionInput-box{
    width:100%;
    margin-bottom:10px;
}

/*.question-wrapper{*/
/*    padding:10px 20px;*/
/*    font-size: 20px;*/
/*    color: #1d68a7;*/
/*    font-weight:bolder;*/

/*}*/
/*.nextBtn,.prevBtn, .create-pet{*/
/*    transition: 2s;*/
/*    background-color: darkslategray;*/
/*    width: 5vw;*/
/*    height:5vh;*/
/*    padding : 2px;*/
/*    margin:10px;*/
/*    font-family: "Bookman Old Style";*/
/*}*/
/*.question-input,.options-select{*/
/*    border: none;*/
/*    border-bottom: 1px solid darkslategray;*/
/*    width: 40%;*/
/*    margin:10px;*/
/*    text-align: center;*/
/*    font-family: Cambria;*/
/*    font-size: 22px;*/
/*}*/
/*.options-select .select-options{*/
/*    outline:none;*/
/*    text-align: center;*/
/*}*/
