button:disabled {
    background-color: #b9bbbe ;
}

#pageTopic{
    font-family: Serif;
    margin-bottom: 10%;
    font-size: 2rem;
    color: #636b6f;
}

#petQuestions{
    min-height: 70vh;
    margin-top: 10vh;
}
.navbar-brand{
    font-family: Cambria;
    font-size : 28px;
}
.questionBox{
    font-family: "Book Antiqua";
    color:#1d68a7;
}
.question{
    font-size:1.2rem;
}
.questionBox, .inputBox, .loadNext, .later{
    padding: 25px;
}
select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: "Book Antiqua";
    color : #761b18 ;
}
option{
    font-family: "Book Antiqua";
}
.answerInput{
    font-family: Cambria;
    color: #761b18;
    font-size: 18px;
    /*width: 50%;*/
    padding: 10px 14px;
    border: none;
    border-bottom: 2px solid darkslategray;
    /*border-radius: 4px;*/
}
.ans{
    transition: 3s;
    color: #1d643b;
}
.later{
    margin-top: 50px;
    font-weight : bolder;
    font-family: "Book Antiqua";
    color :#1d643b;
}


/* Styling Pet Details*/
.petDetails{
    margin-top: 5px;
}
.detail{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.liked-pets{
    width: 100%;
}
