tr{
    height: 19.1pt;
}
td{
    width:69.65pt;
    height:19.1pt;
    border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:0 5.4pt 0 5.4pt;
    vertical-align: top;
}
.table-header{
        margin-bottom:.0001pt;
        line-height:normal;
        tab-stops:88.85pt;
        line-height: normal;
}

.table-data{
    tab-stops:88.85pt;
    line-height: normal;
    width:412.2pt;
    border: 1px solid;
    border-left:none;
    mso-border-left-alt:solid;
    mso-border-alt:solid windowtext .5pt;
    padding:0 5.4pt 0 5.4pt;
    height:19.1pt;
}

/*
width=550 valign=top style=' windowtext 1.0pt;
	  windowtext .5pt;'>
	  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
	  normal;tab-stops:88.85pt'><o:p>&nbsp;</o:p

*/