html,body{
    margin: 0%;
}
.indexIntro{
    font-size: 2vmin
}

.site-info-container{
    display: flex;
    min-height: 98vh;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color:white;
}
.site-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 5vmin;
}
.icon{
    font-size: 45px;
    color: cadetblue;
}

