.ErrorToolTip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    margin-bottom: 1px;
    right:80px;
    bottom:15px;
}

.ErrorToolTip .tooltiptext {
    font-size:12px;
    width: 250px;
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.ErrorToolTip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent darkslategray transparent transparent;
}
/*.tooltip:hover .tooltiptext {*/
/*    visibility: visible;*/
/*}*/
