@media screen and (min-width:501px){

.left{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color:white;
}
.left{
    background-color: darkslategrey;
}
.right{
    background-color: white;
}
.left h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 63px;
}
.intro-wrapper{
     list-style: none;
 }
.intro-list{
    position: relative;
}
.intro-list:before{
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -.75em;
    width: 1em; /* desired width of the image */
    height: 2.1em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-image: url("/img/paw-add.svg");
    background-size: 1em .9em;
    background-position: 0 .3em;
    /*background: */
    /*padding-left: 1em;*/
}
.intro-list {
    background: url("/img/paw.svg") no-repeat left 5px;
    padding-left: 0.5em;
}
ul .intro-list{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

.intro-list span{
    padding: 10px;
}
.login-comp{
    min-height: 20vh;
}
    .login-mail, .login-pass{
        border: none;
        border-bottom: 2px solid grey;
        margin: 10px;
        outline:none;
        border-radius: 0px;
    }

    .login-mail:focus, .login-pass:focus{
        outline:none;
    }

.login-btn{
    color: white;
    background-color: darkslategray;
    width: 90px;
    height: 40px;
}
.sign-up-comp{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-comp{
    min-height: 10vh;
    text-align: right;
}
.about-comp span{
    text-decoration: underline #2176bd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor:pointer;
    padding:5px;
    text-align:right
}
.sign-up-comp .sign__up{
    text-align: center;
}
.signup-text{
    font-size: 23px;
    font-family: Serif;
}
.sign__up .signupBtn{
    text-decoration: none;
}
.signupBtn{
    background-color:darkslategrey;
    color:white;
    padding: 12px;
    width: 200px;
    height:45px;
}
.signupBtn:hover{
    color:white
}

/* UserPhoto Large screen style */
    .upload-later{
        position: relative;
        left: 180px;
        margin-top:90px;
        padding: 12px;
    }
    .upload-photo-label img{
        width :180px;
        height: 110px;
    }
    .sign-up-nav{
        background-color: darkslategray;
        color: white;
    }
    .loadBtn {
        margin-top: 5px;
        transition: 1s;
        background-color: darkslategrey;
        width: 10vw;
        color:white;
        padding: 8px;
        font-family: Arial, sans-serif;
    }
    .sm_petDetails{
        display: none;
    }
}


.site-note{
    font-family: "Book Antiqua";
    color: darkcyan;
}
.site-note .note{
    font-weight: bold;
    color: #194954;
}
.partner-sponsor{
    text-decoration: underline #1d68a7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkslategrey;
    cursor:pointer;
}
.browse-pets{
    padding: 15px;
    background-color: darkslategrey;
    border-radius: 13px;
    color:white;
    font-family : cambria;
    cursor:pointer;
    min-width: 100px;
    font-size: 19px;
}
.browse-pets:hover{
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
    font-weight : bolder;
    box-shadow: 2px 1px darkslategray;
}

.pet_det{
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
    /*font-weight : ;*/
    box-shadow: 2px 1px darkslategray;
}
.pet_det span{
    font-size: 15px;
    font-family:  cambria
}
.pet-item{
    cursor: pointer;
}
.browse-pet-breed{
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding:10px;
}
.log-reg{
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-page, .view-pet-info{
    height:100%;
    overflow: auto;
    padding:10px;
}