@media screen and (max-width:500px){
    .left{
        text-align : center;
        padding: 10px;
        min-height: 19vh;
        color:white;
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: darkslategrey;
    }
    .right{
        min-height:77vh;
        max-height:77vh;
        background-color:white;
    }
    .intro-wrapper{
        list-style: none;
    }
    .intro-list{
        position: relative;
    }
    .intro-list:before{
        position: absolute;
        display: block;
        content: '\2022'; /* bullet point, for screen readers */
        text-indent: -999999px; /* move the bullet point out of sight */
        left: -.75em;
        width: 1.3em; /* desired width of the image */
        height: 2.1em; /* unrelated to image height; this is so it gets snipped */
        background-repeat: no-repeat;
        background-image: url("/img/paw-add.svg");
        background-size: 1.1em 1em;
        background-position: 0 .3em;
        /*background: */
        /*padding-left: 1em;*/
    }

    .intro-list span{
        /*margin-right:15px;*/
        margin: 2px 0px;
    }
    .intro-list .fas{
        display: none;
    }
    .right form {
        margin-top: 10px;
    }
    .login-mail, .login-pass{
        border: none;
        border-bottom: 2px solid grey;
        margin: 10px;
        outline:none;
        border-radius: 0px;
    }

    .login-mail:focus, .login-pass:focus{
        outline:none;
    }

    .login-btn{
        color: white;
        background-color: darkslategray;
        width: 90px;
        height: 40px;
    }
    .sign-up-comp{
        position:relative;
        top: 120px;
    }
    .sign-up-comp .sign__up{
        text-align: center;
    }
    .signup-text{
        font-weight: bold;
        font-size:18px;
        color:darkslategrey;
        font-family: Arial;
    }
    .signupBtn{
        background-color:darkslategrey;
        color:white;
        padding: 12px;
        width: 150px;
        height:45px;
    }


    .about-comp{
        position: relative;
        top: 180px;
    }
    .about-comp span{
        text-decoration: underline #2176bd;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        cursor:pointer;
        padding:5px;
        text-align:right
    }
    .about-page, .view-pet-info{
        height:100%;
        overflow: scroll;
        padding:10px;
    }
    .pet_det{
        background-color: white;
        color: darkslategray;
        border: 2px solid darkslategray;
        box-shadow: 2px 1px darkslategray;
        width: 200px;
    }
    .pet-item{
        cursor: pointer;
        align-items: center;
    }

    /* UserPhoto component small screen style */

    .upload-later{
        margin-top:35px;
        text-decoration: none;
        padding: 12px;
        color:darkslategrey;
        text-align:right;
    }
    .upload-photo-label img{
        width :110px;
        height: 64px;
    }
    /* authentication navbar  */
    .sign-up-nav{
        background-color: darkslategray;
        color: white;
    }
    .loadBtn{
        width:155px;
    }
    .loadBtn {
        margin-top: 5px;
        transition: 1s;
        background-color: darkslategrey;
        /*width: 8vw;*/
        color:white;
        padding: 8px;
        font-family: Arial, sans-serif;
    }
    .lg_petDetails{
        display: none;
    }

}
