.reg-form-wrapper{
    min-height: 60vh;
}
.reg-input, .name-input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.reg-input{
    min-width: 40%;
}
.name-input{
    min-width: 19%;
}
input:focus{
    outline: none;
}
.form-control:focus {
    border-color:initial;
    -webkit-box-shadow: none;
    box-shadow: none;
}
::placeholder {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.register-button{
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    /*cursor: pointer;*/
    width: 20vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*.register-button:hover{*/
/*    text-decoration: none;*/
/*    background-color: #365e5e;*/
/*    color: white;*/
/*}*/

.error{
    border: 2px solid #c51f1a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submitBtn{
    position: relative;
    right: 8%;
}

@media screen and(max-width: 500px){
    .name-input{
       display: none;
    }
}
