@media screen and (min-width:501px){
    .reg-form-container{
        display:flex;
        justify-content:center;
    }
    .form-wrapper{
        margin-bottom:40px;
        padding: 15px;
        border: 1px solid lightgrey;
        box-shadow: 5px 10px #888888;
        max-width : 700px
    }
    .form-wrapper div{
        position:relative;
        text-align:center;
    }
    ::placeholder {
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .inp-reg{
        max-width: 600px;
    }
    .inp-reg:focus {
        border-color:initial;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .error{
        border: 2px solid #c51f1a;
    }
    .sm_error{
        display:none
    }
    .lg-error{
        position:relative;
        bottom: 58px;
        left:348px;
    }
    .name-inp{
        max-width: 300px;
        outline: none;
    }
    .regBtn{
        background-color: darkslategray;
        color: white;
        font-weight:bold;
        padding:10px;
        width:120px;
        /*border: 2px solid #d38f2a;*/
    }

    .reg-input-wrap input{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

}
