@media screen and (max-width:500px){

    .reg-form-container{
        display:flex;
        justify-content:center;
    }
    .form-wrapper{
        margin-bottom:40px;
        padding: 15px;
        border: 1px solid lightgrey;
        box-shadow: 5px 10px #888888;
        max-width : 700px
    }
    .lg-error{
        display: none;
    }
    .sm_error{
        display:block;
        font-size: 12px;
        color:darkslategrey;
    }
    ::placeholder {
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .regBtn{
        background-color: darkslategray;
        color: white;
        padding:10px;
        width:80px
    }
}
