#header{
    font-family: Arial, sans-serif;
    padding: 10px;
}
#header2{
    text-decoration: underline;
}
.photo-form{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.upload-photo-label{
    cursor: pointer;
    font-size: 35px;
    color: darkslategray;
}
.upload-photo-label i{
    margin-right :20px;
    position: relative;
    top:10px;
}
.upload:hover{
    background-color: #365e5e;
}
