.button-box{
    min-height: 70vh;
}
.button-box h2{
    font-family: Arial;
}
.user-type-btn{
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20vw;
    border-radius: 10px;
    font-weight: bold;
}
.user-type-btn:hover{
    text-decoration: none;
    background-color: #365e5e;
    color: white;
}

@media screen and (max-width: 500px){
    .user-type-btn {
        width: 180px;
    }
    .register-button{
        width: 150px;
    }
}
