
.input-wrap{
    width:100%;
    display:flex;
    justify-content:center
}
.enter-v-c,.resend-code{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:darkslategray;
}
.code-input{
    max-width:60px;
    min-width:60px;
    height:50px;
    padding:5px;
    margin:7px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:darkslategray;
}
.code-input::placeholder{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:darkslategray;
}
.v-c-info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkslategray;
    font-weight:bold
}
.resend-code{
    margin-top:30px;
    cursor: pointer;
    /*max-width: 200px;*/
}
.resend-code:hover{
    color:darkcyan;
}

.verifyActivity{
    position: absolute;
    height: 100%;
    z-index:10;
    width: 100%;
    opacity: 0.8;
    background-color: #d3cfc2;
}

/* Verify Pass*/

.reset-password{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reset-password:hover{
    color:darkslategrey;
}
.pass-reset,.email-not-found{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-align:center;
    font-weight:bold;
    color:#4c110f;
}
.pass-reset,.pass-input{
    min-width:280px;
    width: 30%;
    height: 40px;
}
.pass-reset::placeholder{
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    /*color:darkslategray;*/
}
.rec-back-btn{
    background-color: #1d2124;
    text-decoration: none;
    padding: 5px;
    color:white
}
.email-not-found{
    margin-top:5px;
}
.recover-question{
    font-weight: bolder;
    color:darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.pass-options-wrap{
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.pass-options-list{
    list-style: none;
    padding: 10px;
}
.pass-options-list li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid darkslategray;
    padding: 5px 11px;
    color: darkslategray;
    width: 200px;
    border-radius: 20%;
    margin:10px;
    cursor:pointer;
}
.pass-options-list li:hover{
    background-color: darkcyan;
    color: white;
}

.pass-input-wrap{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center
}

.code-resent{
    color: darkgreen;
    font-size: 15px;
    font-weight: bold;
}
.invalid-code,.blocked-user-message,.invalid-details{
    color: #4c110f;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width:400px){
    .code-input {
        min-width: 45px;
        max-width: 45px;
        height: 36px;
        margin: 3px;
    }
}