
.adm-ul{
    list-style:none;
    padding: 10px
}
.admirer-comp{
    min-height:40vh;
    width:100%;
    background-color:white;
}
.adm-li{
    padding: 10px;
}
div .add-friend-btn{
    background-color:darkslategrey;
    color:white;
    cursor:pointer;
    width: 50px;
    height: 27px
}

.scroll-container{
    white-space: nowrap;
    overflow: auto;
}
.scroll-container .item{
     display: inline-block;
     text-align: center;
     padding: 14px;
}

.compo{
    height: 300px;
    width: 500px;
    color: white;
}
.comp-A{
    background-color: #4c110f;
}
.comp-B{
    background-color: purple;
}


.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
}

/*.front,*/
/*.back {*/
/*    background-size: cover;*/
/*}*/

/*.back {*/
/*    background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);*/
/*}*/

/*.front {*/
/*    background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);*/
/*}*/
