@media screen and (max-width:501px){

    .hide-sidenav-small{

    }
    .lg-home-left-pane{
        display: none;
    }
    .sm-home-posts{
        margin-top: 11px;
    }
    .explore-sm{
        width:100%;
        height: 40px;
        background-color: #b9bbbe;
        opacity: 0.9;
        position:fixed;
        bottom: 0;
        z-index:999
    }
    .nav-sm-btn{
        float:left;
        width:30%;
        height: 98vh;
        padding:1px;
    }

    .xplore{
        width:100%;
        height: 90%;
        color:white;
        background-color: black;
        opacity: 0.9;
        position:absolute;
        top: 0;
        z-index:999
    }
    .postMobile{
        width:90%;
        height: 100%;
        background-color: black;
        /*opacity: 0.9;*/
        position:absolute;
        top: 0;
        z-index:999
    }
}
@media screen and (min-width:501px){
.explore-sm{
    display: none;
}
}