.friend-request-btn, .cancel-request{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:12px;
    color: #1d68a7;
    width: 100px;
}
.cancel-request{
    border: 1px solid darkslategray;
    color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    font-weight:bold;
}
.unadmire{
    font-size:12px;
    color: #1d68a7;
}
.unfriend, .friend{
    font-size:12px;
    color: #1d68a7;
}
.friends-click, .admired-click{
    cursor: pointer;
}

.send-message-modal{
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.message-content-wrapper{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 330px;
    height: 220px;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.send-message-header {
    padding: 4px 16px;
    background-color: darkslategrey;
    color: white;
}
.message-input-field{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.send-message-body {padding: 2px 16px;}

@media screen and (max-width:501px){
    .send-message-modal{
        margin-top: 15%;
        overflow: scroll;
        width: 90%;
    }

    .message-content-wrapper{
        overflow: scroll;
        font-size:15px;
        width: 96%;
        height: 210px;
    }

}
