.navbar-toggle::selection{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;} /* Non-prefixed version, currently

/* Side Nav Toggle */
#open{
    width: 200px;
}
/* Side Nav Toggle */
body {
    /*font-family: "Lato", sans-serif;*/
    /*transition: background-color .5s;*/
}

ul .centered-item{
    margin-left: 25px;
}

.my-navbar{
    background-color:darkslategrey
}
.nav-bar-item i{
    color:white
}
span .nav-slider{
    color:white
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.user{
    min-height: 120px;
    background-color:darkslategray;
    padding:10px
}
.user a{
    text-decoration: none;
    color: white;
}
.nav-slider,.closebtn{
    cursor:pointer;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav .link,.log-out{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidenav .link:hover {
    background-color: #1b4b72;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#content {
    transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logout{
    position: absolute;
    bottom: 0;
    width: 100%
}

#trends{
    height: 100%;
    /*min-width: 10%;*/
    position: fixed;
    background-color: #f2f6f7;
    padding: 10px;
}

.api-process{
    position: fixed;
    min-height: 100%;
    z-index:10;
    width: 100%;
    opacity: 0.8;
    top:        0;
    left:       0;
    background-color: white;
}
