@media screen and (max-width:501px){
    .hide-sidenav-small{
        display: none;
    }
    .link-display-sm{
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }
    .link-display-sm .nav-link{
        color: yellow;
    }
    .navbar-item{
        padding: 5px;
    }
}

@media screen and (min-width:501px){

    .link-display-sm{
        display: none;
    }
}