.notification-wrapper{
    box-shadow: 1px 2px 1px 2px lightgray;
    min-height:10vh;
    max-height: 30vh;
    min-width : 40vw;
    background-color:white;
    overflow: auto;
}
.search-wrapper{
    box-shadow: 1px 2px 1px 2px lightgray;
    min-height:10vh;
    max-height: 30vh;
    min-width : 25vw;
    background-color:white;
    overflow: auto;
 }

.notifier,.search-res{
    position: absolute;
    top: 55px;
    z-index : 1;
}

.friendRequests h6{
    font-weight:bolder;
    font-family: Cambria;
    font-size: 15px
}
.sender-info{
    display: block;
    padding:5px;
}
.requestSender{
    font-size: 14px;
    font-family: Cambria;
}

.fa-thumbs-up, .fa-thumbs-down{
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .search-res{
        position: absolute;
        min-width:300px;
        top: 100px;
        z-index : 1;
    }
}