.search-input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4c110f;
    font-weight: bold;
}
.search-item{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4c110f;
    cursor: pointer;
}
.search-item:hover{
    text-decoration:solid underline darkslategray;
}
.no-search-result{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4c110f;
    font-weight: bold;
}